body {
    overflow-x: hidden;
}
span,p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 500;
}
#collapseCart {
    width: 100%;
    max-width: 250px;
    position:absolute;
    top:40px;
    right:0;
    z-index: 10;
}
#cart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#productslength {
    font-size:12px;
    margin-left:3px;
}